
.jumbotron {
    padding: 0px 30px 0px 30px;
    margin: 0px auto;
    height: 800px;
    background: #d7073a;
    color:#fff; }

.jumbotron >img{
    padding:0px 0px 10px 0px;
}
.navbar-inverse {
     background:#000000;
}
.row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.row-text {
    margin:0px auto;
    padding:50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.row-footer{
    background-color: #ebeaec;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:hover,
 .navbar-default .navbar-nav > .open > a:focus {
    color: #1A237E;
    background: #d7073a;
}

.classtool {
    font-family: 'Open sans', sans-serif;
    color: #898989;
    font-size: 16px;
    font-weight: 300;
}
body{
    padding:50px 0px 0px 0px;
    z-index:0;
}

.content {display:block;
    margin: 0 auto;
    padding: 30px 0px 0px 0px;
}

h3 {
    color: #535353; 
    font-family: 'Open sans', sans-serif;
}

h4 {
    color: #535353; 
    font-family: 'Open sans', sans-serif;
    padding:30px 0px 0px 0px;
}


.btn .btn-social-icon {
   color: #d7073a
}

