* {
    cursor: none
}

body {
    overflow: hidden
}

.loading {
    background-color: #FFF;
    width: 100%;
    display: fixed
}

.loading img {
    display: block;
    min-height: 209px;
    min-width: 200px;
}

.mouse {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: #fff782;
    position: absolute;
    animation: mouseAnimation .5s infinite ease-in-out alternate;
    left: 0;
    top: 0
}
.text-block{
  margin: auto;
  width: 100%
}
.text {
  font-size: 20px;
  font-family:  'Raleway', sans-serif;
  text-align: center;
  color: #585858;
}
.intro {
  font-size: 15px;
  font-family: 'Raleway', sans-serif;;
  text-align: center;
  color:#808080;
}
.button{
  border-color: #585858;
  border: 2px;
}

.contact {
  height: 40px;
  top: 93vh;
  text-align: center;
  font-size: 25px;
  color: #f2f2f2;
  z-index: 10;
  margin: auto;
  width: 50%;
}
.fa {
  padding-right: 8px !important;
  color:#585858;
}
.fa:hover{
  color:#f2f2f2;
}
@keyframes mouseAnimation {

    from {
        width: 15px;
        height: 15px
    }

    to {
        width: 10px;
        height: 10px
    }

}
