* {
    cursor: none
}

body {
    overflow: hidden
}

.loading {
    background-color: #FFF;
    width: 100%;
    display: fixed
}

.loading img {
    display: block;
    min-height: 209px;
    min-width: 200px;
}

.mouse {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #fff782;
    position: absolute;
    animation: mouseAnimation .5s infinite ease-in-out alternate;
    left: 0;
    top: 0
}
.text-block{
  margin: auto;
  width: 50%
}
.text {
  font-size: 50px;
  font-family:  'Raleway', sans-serif;
  text-align: center;
  color: #bfbfbf;
}
@keyframes mouseAnimation {

    from {
        width: 25px;
        height: 25px
    }

    to {
        width: 15px;
        height: 15px
    }

}
